<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap.css" rel="stylesheet" />
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="/css/login.css" rel="stylesheet" />
<title>Ajax</title>
<style>
	img {
		width: 50px;
		height: 50px
	}
</style>
</head>
<body>
	<button>show</button>
	<table>
		<tr>
			<th>Title</th>
			<th>Thumbnail</th>
		</tr>
	</table>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("button").click(function(){
				$.ajax({
					url : 'http://localhost:8080/test',
					method : 'GET',
					success : function(data) {
						var content = "";
						data.forEach(function(d) {
							content += "<tr><td>" + d.title + "</td><td><img src=" + d.thumbnail + " /></td></tr>\n";
						});
						$("table").append(content);
					},
					error : function(error) {
						console.log(error);
					}
				});
			});
		});
	</script>
</body>
</html>